<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774480724264-2t5fp4sqgufrdufr0nkttdgtlebpah2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774480724264-2t5fp4sqgufrdufr0nkttdgtlebpah2k</string>
	<key>API_KEY</key>
	<string>AIzaSyAUE_BgJijCiAp1xQrTDd5SnuNh5qsuYKs</string>
	<key>GCM_SENDER_ID</key>
	<string>774480724264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.altechtic.hiFood</string>
	<key>PROJECT_ID</key>
	<string>hi-foods</string>
	<key>STORAGE_BUCKET</key>
	<string>hi-foods.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774480724264:ios:16f5ca62c6f7f4a3c6901d</string>
	<key>DATABASE_URL</key>
	<string>https://hi-foods.firebaseio.com</string>
</dict>
</plist>